.servises__container {
    width: 1199px;
    max-width: 100%;
}
.servises__list {
    padding: 0;
    display: flex;
    justify-content: center;
    
    @media screen and (max-width:720px) {
        display: block;
        max-width: 100%;
        
    }
}
.servises__item {
list-style: none;
width: 300px;
height: auto;
margin-left: 15px;
&:first-child{
    margin-left: 0;
}
@media screen and (max-width:720px) {
    margin-left: 0;
    
}
}
.servises__img__box {
    padding: 10px;
    }


.servises__text__box {
    padding: 10px;
    &:hover,
    &:focus{
        transform: scale(1.1);
        transition: all 0.3s ease;
    }
}
.servises__title__box {
    text-align: center;
    margin-top: 10px;
    color: #002F87;
}
.servises__text {
    text-align: center;
    margin-top: 10px;
    color: black;

}

.servises__link{
    text-decoration: none;
}