body{
  display: flex;
  justify-content: center;
}

.container {
    //  outline: 1px solid red; 

    width: 1200px;
    max-width: 100vw;
  
    padding-left: 15px;
    padding-right: 15px;
  
    margin-left: auto;
    margin-right: auto;

  }